/**/

body {
  font-family:'Amaranth', 'HelveticaNeue', Helvetica, Arial, sans-serif;
}

div.background {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
    background-size: 100% auto !important;
    background: rgb(162, 219, 255) url("../img/SchlossBackground_600.png") no-repeat fixed center bottom;

    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
    color: #ffffff;
}

.content-app {
    border: 1px solid #527cac;
    background-color: rgba(25,56,113, 0.85);
    margin: 15px;
    border-radius: 10px;
    width: calc(100% - 30px);
    height: calc(100% - 32px);
    font-family:'Amaranth', 'HelveticaNeue', Helvetica, Arial, sans-serif;
}

.navbar {
 height: 90px;
}

.navbar div {
    width: 33.33%;
    float: left;
    margin-top: 30px;
}

.navbar-left,.page-nav-left {
    text-align: left;
}

.navbar-middle,.page-nav-middle {
    text-align: center;
}

.navbar-right,.page-nav-right {
    text-align: right;
}

.home-button {
    background: url('../img/home.png') no-repeat;
    width: 36px;
    height: 36px;
    padding: 0;
    margin: 0;
    background-size: 100% auto;
}

.back-button {
    background: url('../img/left.png') no-repeat;
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 5px 0 0 30px;
    background-size: 100% auto;
}

.stations-button {
    background: url('../img/menu.png') no-repeat;
    width: 36px;
    height: 36px;
    padding: 0;
    margin: 5px 0 0 30px;
    background-size: 100% auto;
}

.next-station-button {
    background: url('../img/right.png') no-repeat;
    width: 36px;
    height: 36px;
    padding: 0;
    margin: 5px 30px 0 0;
    background-size: 100% auto;
}

.ear-button {
    background: url('../img/Ear.png') no-repeat;
    width: 60px;
    height: 60px;
    padding: 0;
    margin: 20px 0 20px 30px;
    background-size: 100% auto;
}

.notes-text-button {
    background: url('../img/Notes.png') no-repeat;
    width: 60px;
    height: 60px;
    padding: 0;
    margin: 20px auto;
    background-size: 100% auto;
    visibility: hidden;
}

.map-button {
    background: url('../img/places.png') no-repeat;
    width: 60px;
    height: 60px;
    padding: 0;
    margin: 20px 30px 20px 0;
    background-size: 100% auto;
}

.page-nav {
    height: 90px;
}

.page-nav div {
    width: 33.33%;
    float: left;
}

@media only screen and (max-width: 500px) {
    .page-nav {
        height: 60px;
    }

    .ear-button {
        width: 40px;
        height: 40px;
    }

    .notes-text-button {
        width: 40px;
        height: 40px;
    }

    .map-button {
        width: 40px;
        height: 40px;
    }
}